## Directory-based project format:
.idea/
.vscode/

# Composer
vendor/
conf/composer.lock

public/config.php

support/*
!support/files/.empty
!support/log/.empty

sonar-project.properties
.scannerwork/*