{% extends "layout.twig" %}

{% block content %}

<!-- Main content -->
<div class="ui main container center aligned" id="content">

    <!-- Add Item -->
    <h1 class="ui icon header">
        <i class="box icon"></i>
        <div class="content">
            {{ name }}
        </div>
    </h1>

    <form class="ui form" action="/add/item/post" method="POST" enctype="multipart/form-data">
        <div class="field" id="itemNameDiv">
            <label for="itemName">Item Name:
            <input id="itemName" name="itemName">
        </div>
        <div class="field" id="itemDescDiv">
            <label for="itemDesc">Item Description:
            <input id="itemDesc" name="itemDesc">
        </div>
        <div class="field" id="itemBasePriceDiv">
            <label for="itemBasePrice">Item Base Price:
            <input id="itemBasePrice" name="itemBasePrice">
        </div>
        <div class="field" id="itemImageDiv">
            <label for="itemImage">Add image:
            <input type="file" id="itemImage" name="itemImage"/>
            <button type="submit">Upload</button>
        <div>
            <input type="submit" class="ui fluid blue submit button primary" id="addItem" value="Add Item">
        </div>
    </form>

</div>
{% endblock %}
