{% extends "layout.twig" %}

{% block content %}

    <!-- Auction -->
    <div class="ui green icon message" id="message" style="display: none; margin: 0 auto 15px; width: 15%; text-align: center;">
    </div>    

{% endblock %}
